// ### Primary

$Softblue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$CyanTransparent: rgba($Cyan, 0.6);

// ### Neutral

$main-bg: hsl(217, 54%, 11%); //(main BG
$card-bg: hsl(216, 50%, 16%); //(card BG)
$line: hsl(215, 32%, 27%); //(line)
$White: hsl(0, 0%, 100%);
